{% extends "base.html" %}

{% block title %}
ReleCloud - Destinations
{% endblock title %}

{% block content %}
<h1>ReleCloud Destinations</h1>
<p>
    If you can imagine it, we travel to it! Below is our list of confirmed destinations.
</p>

<a href="{% url 'destination_form' %}">
    <p>
        Add destination
    </p>
</a>

<ul class="list-group">
    {% for destination in destinations %}
    <a class="list-group-item list-group-item-action" href="{% url 'destination_detail' destination.id %}">
        {{ destination }}
    </a>
    {% endfor %}
</ul>

{% endblock content %}